@model List<Film>;

<div class="row">
    <div class="col-9">
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var film in Model)
            {
                <div class="col">
                    <div class="card h-75 mb-3">
                        <img height="550" src="@film.ImageUrl" class="card-img-top" alt="@film.Name">
                        <div class="row card-body">
                            <div class="col-md-10">
                                <h5 class="card-title">@film.Name</h5>
                                <p class="card-text">Year : @film.Year</p>
                            </div>
                            <div class="col-md-2">
                                <a asp-action="Edit" asp-route-id="@film.Id" type="button" class="btn">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@film.Id" type="button" class="btn">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-3">
        <a asp-controller="MyFilms" asp-action="Create" class="btn btn-primary mb-2">Create New Film</a>

        <form class="d-flex ms-auto gap-2" asp-action="Filter" ms-auto>

            <select name="categoryId" asp-items=ViewBag.Categories id="inputState" class="form-select">
                <option selected>All Categories</option>
            </select>

            <button type="submit" class="btn btn-secondary">Filter</button>
        </form> 
    </div>
</div>
